[user]
	name = Birunthan Mohanathas
	email = birunthan@mohanathas.com

[alias]
	a = add
	ap = add -p
	b = branch
	c = commit
	ca = commit --amend --no-edit
	cae = commit --amend
	cm = commit -m
	co = checkout
	d = diff
	dc = diff --cached
	ds = diff --stat
	h = show
	l = log --graph --format='%C(yellow)%h%Creset %Cgreen%cr%Creset %s (%an)%C(yellow)%d%Creset'
	p = pull -r
	puh = pull -r upstream HEAD
	pom = push origin master
	rc = rebase --continue
	ri = rebase -i
	rh = reset HEAD
	s = status -s --ignore-submodules
	sp = stash pop
	ss = stash save

[color]
	ui = true

[commit]
  status = false

[core]
	excludesfile = ~/.gitignore

[push]
	default = current

[include]
	path = ~/.gitconfig.local
