[user]
	name = Birunthan Mohanathas
	email = birunthan@mohanathas.com

[alias]
	a = add
	br = branch
	c = commit
	cm = commit -m
	ca = commit --amend --no-edit
	cae = commit --amend
	co = checkout
	d = diff
	ds = diff --staged
	h = show
	lg = log --format='%C(yellow)%h%Creset %Cgreen%cr%Creset %s (%an)%C(yellow)%d%Creset'
	p = pull -r
	plu = pull upstream master
	pso = push origin master
	ri = rebase -i
	rc = rebase --continue
	s = status -s --ignore-submodules

[color]
	ui = true

[core]
	excludesfile = ~/.gitignore

[push]
	default = current
