settings set target.load-cwd-lldbinit true
settings set target.inline-breakpoint-strategy always

settings set frame-format "frame #${frame.index}: ${frame.pc}{ ${module.file.basename}{`\x1b\x5b32m${function.name-with-args}\x1b\x5b39m${function.pc-offset}}}{ at \x1b\x5b33m${line.file.basename}:${line.number}\x1b\x5b39m}\n"
