<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundAlertSuppressed</key>
	<true/>
	<key>HockeySDKAutomaticallySendCrashReports</key>
	<false/>
	<key>HockeySDKCrashReportActivated</key>
	<true/>
	<key>MakeLarger</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBARVSRudWxs1AkKCwwNDg0PWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEACAAoADWk1ha2VMYXJnZXLSEhMUFVokY2xhc3NuYW1lWCRjbGFzc2VzWFpLSG90
	S2V5ohYXWFpLSG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RobVHJvb3SA
	AQgRGiMtMjc8QktVWmJpa21ven+Kk5yfqLHDxssAAAAAAAABAQAAAAAAAAAcAAAAAAAA
	AAAAAAAAAAAAzQ==
	</data>
	<key>MakeSmaller</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBARVSRudWxs1AkKCwwNDg0PWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEACAAoADW01ha2VTbWFsbGVy0hITFBVaJGNsYXNzbmFtZVgkY2xhc3Nlc1haS0hv
	dEtleaIWF1haS0hvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEaG1Ryb290
	gAEIERojLTI3PEJLVVpiaWttb3uAi5SdoKmyxMfMAAAAAAAAAQEAAAAAAAAAHAAAAAAA
	AAAAAAAAAAAAAM4=
	</data>
	<key>MoveToBottomHalf</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBARVSRudWxs1AkKCwwNDg0PWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEACAAoADXxAQTW92ZVRvQm90dG9tSGFsZtISExQVWiRjbGFzc25hbWVYJGNsYXNz
	ZXNYWktIb3RLZXmiFhdYWktIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLR
	GhtUcm9vdIABCBEaIy0yNzxCS1VaYmlrbW+Ch5KbpKewucvO0wAAAAAAAAEBAAAAAAAA
	ABwAAAAAAAAAAAAAAAAAAADV
	</data>
	<key>MoveToCenter</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzERkAgAIQfYADXE1vdmVUb0NlbnRlctITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNY
	WktIb3RLZXmiFxhYWktIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxU
	cm9vdIABCBEaIy0yNzxCS1VaYmlsbnByf4SPmKGkrbbIy9AAAAAAAAABAQAAAAAAAAAd
	AAAAAAAAAAAAAAAAAAAA0g==
	</data>
	<key>MoveToFullscreen</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzERkAgAIQfoADXxAQTW92ZVRvRnVsbHNjcmVlbtITFBUWWiRjbGFzc25hbWVYJGNs
	YXNzZXNYWktIb3RLZXmiFxhYWktIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2
	ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1VaYmlsbnByhYqVnqeqs7zO0dYAAAAAAAABAQAA
	AAAAAAAdAAAAAAAAAAAAAAAAAAAA2A==
	</data>
	<key>MoveToLeftHalf</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzERkAgAIQe4ADXk1vdmVUb0xlZnRIYWxm0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nl
	c1haS0hvdEtleaIXGFhaS0hvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEb
	HFRyb290gAEIERojLTI3PEJLVVpiaWxucHKBhpGao6avuMrN0gAAAAAAAAEBAAAAAAAA
	AB0AAAAAAAAAAAAAAAAAAADU
	</data>
	<key>MoveToLowerLeft</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBARVSRudWxs1AkKCwwNDg0PWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEACAAoADXxAPTW92ZVRvTG93ZXJMZWZ00hITFBVaJGNsYXNzbmFtZVgkY2xhc3Nl
	c1haS0hvdEtleaIWF1haS0hvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEa
	G1Ryb290gAEIERojLTI3PEJLVVpiaWttb4GGkZqjpq+4ys3SAAAAAAAAAQEAAAAAAAAA
	HAAAAAAAAAAAAAAAAAAAANQ=
	</data>
	<key>MoveToLowerRight</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBARVSRudWxs1AkKCwwNDg0PWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEACAAoADXxAQTW92ZVRvTG93ZXJSaWdodNISExQVWiRjbGFzc25hbWVYJGNsYXNz
	ZXNYWktIb3RLZXmiFhdYWktIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLR
	GhtUcm9vdIABCBEaIy0yNzxCS1VaYmlrbW+Ch5KbpKewucvO0wAAAAAAAAEBAAAAAAAA
	ABwAAAAAAAAAAAAAAAAAAADV
	</data>
	<key>MoveToNextDisplay</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBARVSRudWxs1AkKCwwNDg0PWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEACAAoADXxARTW92ZVRvTmV4dERpc3BsYXnSEhMUFVokY2xhc3NuYW1lWCRjbGFz
	c2VzWFpLSG90S2V5ohYXWFpLSG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy
	0RobVHJvb3SAAQgRGiMtMjc8QktVWmJpa21vg4iTnKWosbrMz9QAAAAAAAABAQAAAAAA
	AAAcAAAAAAAAAAAAAAAAAAAA1g==
	</data>
	<key>MoveToNextThird</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBARVSRudWxs1AkKCwwNDg0PWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEACAAoADXxAPTW92ZVRvTmV4dFRoaXJk0hITFBVaJGNsYXNzbmFtZVgkY2xhc3Nl
	c1haS0hvdEtleaIWF1haS0hvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEa
	G1Ryb290gAEIERojLTI3PEJLVVpiaWttb4GGkZqjpq+4ys3SAAAAAAAAAQEAAAAAAAAA
	HAAAAAAAAAAAAAAAAAAAANQ=
	</data>
	<key>MoveToPreviousDisplay</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBARVSRudWxs1AkKCwwNDg0PWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEACAAoADXxAVTW92ZVRvUHJldmlvdXNEaXNwbGF50hITFBVaJGNsYXNzbmFtZVgk
	Y2xhc3Nlc1haS0hvdEtleaIWF1haS0hvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNo
	aXZlctEaG1Ryb290gAEIERojLTI3PEJLVVpiaWttb4eMl6CprLW+0NPYAAAAAAAAAQEA
	AAAAAAAAHAAAAAAAAAAAAAAAAAAAANo=
	</data>
	<key>MoveToPreviousThird</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBARVSRudWxs1AkKCwwNDg0PWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEACAAoADXxATTW92ZVRvUHJldmlvdXNUaGlyZNISExQVWiRjbGFzc25hbWVYJGNs
	YXNzZXNYWktIb3RLZXmiFhdYWktIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2
	ZXLRGhtUcm9vdIABCBEaIy0yNzxCS1VaYmlrbW+FipWep6qzvM7R1gAAAAAAAAEBAAAA
	AAAAABwAAAAAAAAAAAAAAAAAAADY
	</data>
	<key>MoveToRightHalf</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzERkAgAIQfIADXxAPTW92ZVRvUmlnaHRIYWxm0hMUFRZaJGNsYXNzbmFtZVgkY2xh
	c3Nlc1haS0hvdEtleaIXGFhaS0hvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
	ctEbHFRyb290gAEIERojLTI3PEJLVVpiaWxucHKEiZSdpqmyu83Q1QAAAAAAAAEBAAAA
	AAAAAB0AAAAAAAAAAAAAAAAAAADX
	</data>
	<key>MoveToTopHalf</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBARVSRudWxs1AkKCwwNDg0PWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEACAAoADXU1vdmVUb1RvcEhhbGbSEhMUFVokY2xhc3NuYW1lWCRjbGFzc2VzWFpL
	SG90S2V5ohYXWFpLSG90S2V5WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RobVHJv
	b3SAAQgRGiMtMjc8QktVWmJpa21vfYKNlp+iq7TGyc4AAAAAAAABAQAAAAAAAAAcAAAA
	AAAAAAAAAAAAAAAA0A==
	</data>
	<key>MoveToUpperLeft</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBARVSRudWxs1AkKCwwNDg0PWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEACAAoADXxAPTW92ZVRvVXBwZXJMZWZ00hITFBVaJGNsYXNzbmFtZVgkY2xhc3Nl
	c1haS0hvdEtleaIWF1haS0hvdEtleVhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEa
	G1Ryb290gAEIERojLTI3PEJLVVpiaWttb4GGkZqjpq+4ys3SAAAAAAAAAQEAAAAAAAAA
	HAAAAAAAAAAAAAAAAAAAANQ=
	</data>
	<key>MoveToUpperRight</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBARVSRudWxs1AkKCwwNDg0PWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEACAAoADXxAQTW92ZVRvVXBwZXJSaWdodNISExQVWiRjbGFzc25hbWVYJGNsYXNz
	ZXNYWktIb3RLZXmiFhdYWktIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLR
	GhtUcm9vdIABCBEaIy0yNzxCS1VaYmlrbW+Ch5KbpKewucvO0wAAAAAAAAEBAAAAAAAA
	ABwAAAAAAAAAAAAAAAAAAADV
	</data>
	<key>NSWindow Frame SUUpdateAlertFrame</key>
	<string>672 590 575 392 0 0 1920 1178 </string>
	<key>RedoLastMove</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBARVSRudWxs1AkKCwwNDg0PWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEACAAoADXFJlZG9MYXN0TW92ZdISExQVWiRjbGFzc25hbWVYJGNsYXNzZXNYWktI
	b3RLZXmiFhdYWktIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGhtUcm9v
	dIABCBEaIy0yNzxCS1VaYmlrbW98gYyVnqGqs8XIzQAAAAAAAAEBAAAAAAAAABwAAAAA
	AAAAAAAAAAAAAADP
	</data>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2014-12-12T16:20:00Z</date>
	<key>SUSkippedVersion</key>
	<string>395</string>
	<key>StatusItemEnabled</key>
	<false/>
	<key>UndoLastMove</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBARVSRudWxs1AkKCwwNDg0PWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEACAAoADXFVuZG9MYXN0TW92ZdISExQVWiRjbGFzc25hbWVYJGNsYXNzZXNYWktI
	b3RLZXmiFhdYWktIb3RLZXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGhtUcm9v
	dIABCBEaIy0yNzxCS1VaYmlrbW98gYyVnqGqs8XIzQAAAAAAAAEBAAAAAAAAABwAAAAA
	AAAAAAAAAAAAAADP
	</data>
</dict>
</plist>
