<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MigrationUtilitiesCurrentBundleIdentifer</key>
	<string>org.pqrs.Karabiner</string>
	<key>SUFeedURL</key>
	<string>https://pqrs.org/osx/karabiner/files/appcast.xml</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2015-11-12T05:55:13Z</date>
	<key>configList</key>
	<array>
		<dict>
			<key>appendIndex</key>
			<integer>1</integer>
			<key>identify</key>
			<string>config_1446923502_528949</string>
			<key>name</key>
			<string>Default</string>
		</dict>
	</array>
	<key>config_1446923502_528949</key>
	<dict>
		<key>general.dont_remap_apple_pointing</key>
		<integer>1</integer>
		<key>notsave.automatically_enable_keyboard_device</key>
		<integer>1</integer>
		<key>notsave.automatically_enable_pointing_device</key>
		<integer>1</integer>
		<key>private.disable_shift_commandq</key>
		<integer>1</integer>
		<key>private.f19_fn</key>
		<integer>1</integer>
		<key>private.f4_launchpad</key>
		<integer>1</integer>
		<key>private.finnish_symbols</key>
		<integer>1</integer>
		<key>private.fn_symbols</key>
		<integer>1</integer>
		<key>private.pageupdown</key>
		<integer>1</integer>
		<key>private.swap_commandl_leftright_optionl_leftright</key>
		<integer>1</integer>
		<key>private.å_to_backspace</key>
		<integer>1</integer>
		<key>remap.reverse_vertical_scrolling</key>
		<integer>1</integer>
		<key>remap.swap_commandtabcontroltab</key>
		<integer>1</integer>
		<key>repeat.initial_wait</key>
		<integer>500</integer>
		<key>repeat.wait</key>
		<integer>50</integer>
	</dict>
	<key>isCheckUpdate</key>
	<false/>
	<key>isStatusWindowEnabled</key>
	<false/>
	<key>isStatusWindowShowPointingButtonLock</key>
	<false/>
	<key>isStatusbarEnable</key>
	<false/>
	<key>kIsAXNotifierEnabled</key>
	<false/>
	<key>kIsMigratedOverwriteKeyRepeat</key>
	<true/>
	<key>kIsOverwriteKeyRepeat</key>
	<false/>
</dict>
</plist>
