<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MigrationUtilitiesCurrentBundleIdentifer</key>
	<string>org.pqrs.Seil</string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>650 589 620 392 0 0 1920 1177 </string>
	<key>SUFeedURL</key>
	<string>https://pqrs.org/osx/karabiner/files/seil-appcast.xml</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2016-04-28T17:55:50Z</date>
	<key>SUSkippedVersion</key>
	<string>12.1.0</string>
	<key>sysctl</key>
	<dict>
		<key>enable_capslock</key>
		<integer>1</integer>
		<key>keycode_capslock</key>
		<integer>80</integer>
	</dict>
</dict>
</plist>
