notification[value="plugin-hidden"] {
  display: none !important;
}

* {
  -moz-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  transition: none !important;
}