[user]
	name = Birunthan Mohanathas
	email = birunthan@mohanathas.com

[alias]
	c = commit
	ca = git commit --amend --no-edit
	cam = git commit --amend
	h = show
	s = status -s --ignore-submodules
	p = pull --rebase
	plu = pull upstream master
	pso = push origin master
	br = branch
	co = checkout
	lg = log --pretty=oneline

[color]
	ui = true

[push]
	default = current