[user]
	name = Birunthan Mohanathas
	email = birunthan@mohanathas.com

[alias]
	br = branch
	c = commit
	ca = git commit --amend --no-edit
	cam = git commit --amend
	co = checkout
	h = show
	lg = log --pretty=oneline
	p = pull -r
	plu = pull upstream master
	pso = push origin master
	s = status -s --ignore-submodules

[color]
	ui = true

[push]
	default = current