# Be 8 bit clean.
set input-meta on
set output-meta on

set bell-style off
set bind-tty-special-chars off
set colored-stats on
set completion-ignore-case on
set echo-control-characters off
set show-all-if-ambiguous on
set show-all-if-unmodified on
set mark-symlinked-directories on

"\C-b": shell-backward-word
"\C-f": shell-forward-word
"\C-d": unix-filename-rubout
"\ea": yank-nth-arg
"\es": yank-last-arg
"\ee": shell-expand-line
"\ez": undo

# Move between words with Ctrl-LeftArrow and Ctrl-RightArrow.
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word

# Macros.
"\el": "\C-e | less\C-m"
"\et": " 2>&1 | tee -a "
